.preguntas {
    
}

.opciones {
    margin-top: -2rem;
    padding-left: 5rem;
    display: flex;
    align-items: center;
    
  }

  

.opciones input[type="radio"] {
    display: none;
}

.opciones label {
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

.opciones input[type="radio"]:checked + label {
    background-color: #4CAF50;
    color: white; 
    border-radius: 5px;
    border: 1px solid #4CAF50;
}

.opciones label:hover {
    background-color: #e0e0e0;
  }