.footer {
    padding: calc($separacion / 2);
    background-color: $grisOscuro;
    margin-bottom: 0;
    text-align: center; /* Centra el texto horizontalmente */

    .contenedor-footer {
        padding-top: calc($separacion / 2);
    }

    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    p { /* Cambié .p a p para seleccionar el elemento <p> */
        color: white; /* Asegura que el texto sea blanco */
        margin: 0; /* Elimina márgenes que podrían afectar el centrado */
    }
}
