.formulario {
    p {
        font-size: 1.4rem;
        color: $grisOscuro;
        margin: 2rem 0 0 0;
    }

    legend {
        font-size: 2rem;
        color: $grisOscuro;
    }

    label {
        font-weight: $bold;
        text-transform: uppercase;
        display: block;
    }

    input:not([type="submit"]), textarea, select {
        padding: 1rem;
        display: block;
        width: 100%;
        background-color: $blanco;
        border: 1px solid $gris;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }

    textarea {
        height: 20rem;
    }

    .forma-contacto {
        max-width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input[type="radio"] {
        margin: 0;
        width: auto;
    }

    .preguntas {
        font-weight: 500;
        text-align: justify;
        text-align-last: left; /* Alinea la última línea a la izquierda */
    }

    .contenedor-botones {
        display: flex;
        justify-content: space-between;
    }

    #siguiente {
        margin-left: auto; /* Esto alinea el botón a la derecha */
    }
}

@media (max-width: 768px) {
    .formulario {

        .preguntas {
        margin-top: 1.5rem; /* Espaciado entre preguntas */
        font-size: 1.5rem;
        text-align: center; /* Centra el texto en pantallas pequeñas */
        text-align-last: center;
        font-size: 1.5rem; /* Opcionalmente, reduce el tamaño de la fuente */
        line-height: 1.5; /* Ajusta el interlineado para mejorar legibilidad */
        }

        .contenedor-botones {
            display: flex;
            justify-content: space-between;
        }

        #siguiente {
            margin-left: auto;
        }
    }




    /* También puedes ajustar el tamaño de la fuente de otros elementos en pantallas pequeñas */
    .formulario p {
        font-size: 1.2rem;
    }
}
