.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .formulario {
        background-color: #fff;
        padding: 2rem;
        border-radius: 1rem;
        width: 400px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease;
        transform: translateY(-100%);
        opacity: 0;

        legend {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        .campo {
            margin-bottom: 1rem;

            label {
                display: block;
                margin-bottom: 0.5rem;
            }

            input {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 0.5rem;
            }
        }

        .opciones {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
        }

        .opciones-enviar {
            display: flex; /* Activar el flexbox */
            justify-content: center; /* Centrar horizontalmente */
        }
        

        .submit-datos-contacto{
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            background-color: #28a745;
            color: white;
        }


        &.animar {
            transform: translateY(0);
            opacity: 1;
        }

        &.cerrar {
            transform: translateY(-200%);
            opacity: 0;
        }
    }
}

.alerta {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 100%; /* Ancho completo para que se vea bien */
}

.alerta.error {
    background-color: #f8d7da; /* Color de fondo rojo claro */
    color: #d30a1e; /* Color del texto rojo oscuro */
    border: 1px solid #f5c6cb; /* Borde rojo claro */
}

.alerta.success {
    background-color: #d4edda; /* Color de fondo verde claro */
    color: #155724; /* Color del texto verde oscuro */
    border: 1px solid #c3e6cb; /* Borde verde claro */
}
